h1 {
    font-family: 'Grechen Fuemen', cursive;
    text-align: center;
    color: white;
    background-color: #ae81b3;
    padding: 20px;
    border: 15px ridge #ebbfff;
}


h2 {
    color: white;
    font-family: 'Lora', serif;
    text-shadow: 5px 3px #e1a8ff;
}

p {
    color: white;
    text-align: center;
    padding: 20px;
    border: 5px ridge #ebbfff;
}

body {
    background-color: #d9c8e8;
}

img {
    border: 5px solid #d6aecb;
    border-radius: 7px;
    width: 50px;
}


.white {
    color: white;
}

.tan {
    color: tan;
}

.pink {
    color: oldlace;
}